{
    "singleQuote": true,
    "trailingComma": "none",
    "prettier.semi": false,
    "semi": false,
    "prettier.singleQuote": true, // 使用单引号代替双引号
    "prettier.jsxSingleQuote": true, // 在jsx中使用单引号代替双引号
    "prettier.printWidth": 200
}